USE [BL]
GO
/****** Object:  Schema [bc]    Script Date: 2/7/2021 9:45:17 AM ******/
CREATE SCHEMA [bc]
GO
/****** Object:  Table [bc].[Block]    Script Date: 2/7/2021 9:45:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bc].[Block](
	[blockid] [uniqueidentifier] NOT NULL,
	[BlockNum] [int] NOT NULL,
	[Timestamp] [datetime2](7) NOT NULL,
	[Hash] [char](64) NOT NULL,
	[PrevHash] [char](64) NOT NULL,
	[Nounce] [bigint] NOT NULL,
	[SignedHash] [char](64) NULL,
 CONSTRAINT [PK_Block] PRIMARY KEY CLUSTERED 
(
	[blockid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [bc].[Prebivalci]    Script Date: 2/7/2021 9:45:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bc].[Prebivalci](
	[guid] [uniqueidentifier] NOT NULL,
	[leto] [int] NOT NULL,
	[starost] [int] NOT NULL,
	[spol] [int] NOT NULL,
	[stprebivalcev] [int] NOT NULL,
 CONSTRAINT [PK_prebivalci] PRIMARY KEY CLUSTERED 
(
	[guid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [bc].[Transaction]    Script Date: 2/7/2021 9:45:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bc].[Transaction](
	[tranid] [uniqueidentifier] NOT NULL,
	[BlockNum] [int] NULL,
	[Tx] [nvarchar](255) NULL,
	[Sender] [nvarchar](255) NOT NULL,
	[ReceiverAddress] [nvarchar](255) NOT NULL,
	[Type] [nvarchar](255) NULL,
	[Value] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Verified] [int] NULL,
 CONSTRAINT [PK_bc.Transaction] PRIMARY KEY CLUSTERED 
(
	[tranid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [bc].[Umrli]    Script Date: 2/7/2021 9:45:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bc].[Umrli](
	[guid] [uniqueidentifier] NOT NULL,
	[leto] [int] NOT NULL,
	[spol] [int] NOT NULL,
	[grupa] [nchar](10) NOT NULL,
	[stumrlih] [int] NOT NULL,
 CONSTRAINT [PK_umrli] PRIMARY KEY CLUSTERED 
(
	[guid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [bc].[Prebivalci] ([guid], [leto], [starost], [spol], [stprebivalcev]) VALUES (N'ebec0cbf-66da-453e-8960-017688a75b30', 2020, 79, 0, 14674)
INSERT [bc].[Prebivalci] ([guid], [leto], [starost], [spol], [stprebivalcev]) VALUES (N'2e61cbca-8702-43ce-943e-02d40a98ac9a', 2020, 2, 2, 9830)
INSERT [bc].[Prebivalci] ([guid], [leto], [starost], [spol], [stprebivalcev]) VALUES (N'455a1ff0-d5fa-4817-8588-037e5b68b76f', 2020, 6, 1, 10919)
GO
INSERT [bc].[Umrli] ([guid], [leto], [spol], [grupa], [stumrlih]) VALUES (N'5ac7f568-fbf9-4ac6-a212-0047e450e746', 2014, 1, N'20-24     ', 25)
INSERT [bc].[Umrli] ([guid], [leto], [spol], [grupa], [stumrlih]) VALUES (N'15a4121f-c096-4a52-8e1b-00513269b044', 2004, 0, N'55-59     ', 950)
INSERT [bc].[Umrli] ([guid], [leto], [spol], [grupa], [stumrlih]) VALUES (N'be2504a3-ef3e-4733-986a-00561d575e99', 2006, 2, N'85 +      ', 2741)
GO
ALTER TABLE [bc].[Block] ADD  CONSTRAINT [DF_Table_1_guid]  DEFAULT (newid()) FOR [blockid]
GO
ALTER TABLE [bc].[Prebivalci] ADD  CONSTRAINT [DF_prebivalci_guid]  DEFAULT (newid()) FOR [guid]
GO
ALTER TABLE [bc].[Transaction] ADD  CONSTRAINT [DF_bc.Transaction_tranid]  DEFAULT (newid()) FOR [tranid]
GO
ALTER TABLE [bc].[Umrli] ADD  CONSTRAINT [DF_umrli_guid]  DEFAULT (newid()) FOR [guid]
GO
/****** Object:  StoredProcedure [bc].[Stevilo_prebivalcev_po_starostnih_skupinah]    Script Date: 2/7/2021 9:45:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Franc Kebe
-- Create date: 5.2.2021
-- Description:	Število prebivalcev Slovenije na dan 1.1.2020 po starostnih skupinah in spolu
-- V output vzamam oba spola in naredim starostne skupine po 10, razen 18-30 in 60-65
-- Vir: Statistični urad Republike Slovenije 2021
CREATE PROCEDURE [bc].[Stevilo_prebivalcev_po_starostnih_skupinah]
AS
BEGIN

	SET NOCOUNT ON;
	  select t.range as [grupa], sum(stprebivalcev) as [stvgrupi]
from (
      select stprebivalcev,
         case when starost >= 0 and starost < 18 then '0-17'
         when starost >= 18 and starost < 30 then '18-29'
		 when starost >= 20 and starost < 40 then '30-39'
		 when starost >= 25 and starost < 50 then '40-49'
		 when starost >= 30 and starost < 60 then '50-59'
		 when starost >= 35 and starost < 66 then '60-65'
		 when starost >= 66 then '66+'
         else '0-100+' end as range
     from bc.Prebivalci
	 where spol=0) t
group by t.range

END
GO
/****** Object:  StoredProcedure [bc].[Stevilo_umrlih_po_starostnih_skupinah]    Script Date: 2/7/2021 9:45:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Franc Kebe
-- Create date: 7.2.2021
-- Description:	Vir:Statistični urad Republike Slovenije
CREATE PROCEDURE [bc].[Stevilo_umrlih_po_starostnih_skupinah]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SELECT 
      [grupa]
      ,sum([stumrlih])/count(stumrlih) as umrliNaLetotPovprecje1994_2019
  FROM [bc].[umrli]
  where spol=0
  group by grupa

END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'identity column' , @level0type=N'SCHEMA',@level0name=N'bc', @level1type=N'TABLE',@level1name=N'Block', @level2type=N'COLUMN',@level2name=N'blockid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'zaporedna številka bloka, od 0 do n, v json=index' , @level0type=N'SCHEMA',@level0name=N'bc', @level1type=N'TABLE',@level1name=N'Block', @level2type=N'COLUMN',@level2name=N'BlockNum'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Datum nastanka bloka UTC DateTime.UtcNow' , @level0type=N'SCHEMA',@level0name=N'bc', @level1type=N'TABLE',@level1name=N'Block', @level2type=N'COLUMN',@level2name=N'Timestamp'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Izračunan hash iz polj tega bloka' , @level0type=N'SCHEMA',@level0name=N'bc', @level1type=N'TABLE',@level1name=N'Block', @level2type=N'COLUMN',@level2name=N'Hash'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Hash prejšnjega bloka' , @level0type=N'SCHEMA',@level0name=N'bc', @level1type=N'TABLE',@level1name=N'Block', @level2type=N'COLUMN',@level2name=N'PrevHash'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nounce - zaporedna številka kaže na težavnost računanja Hash' , @level0type=N'SCHEMA',@level0name=N'bc', @level1type=N'TABLE',@level1name=N'Block', @level2type=N'COLUMN',@level2name=N'Nounce'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Podpis bloka s privatnim ključem potrjevalca bloka' , @level0type=N'SCHEMA',@level0name=N'bc', @level1type=N'TABLE',@level1name=N'Block', @level2type=N'COLUMN',@level2name=N'SignedHash'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'koledarsko leto na katerega se nanašajo podatki' , @level0type=N'SCHEMA',@level0name=N'bc', @level1type=N'TABLE',@level1name=N'Prebivalci', @level2type=N'COLUMN',@level2name=N'leto'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'starost v letih 0-85+  85 pomeni 85+' , @level0type=N'SCHEMA',@level0name=N'bc', @level1type=N'TABLE',@level1name=N'Prebivalci', @level2type=N'COLUMN',@level2name=N'starost'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0 = vsi, 1=M, 2=F' , @level0type=N'SCHEMA',@level0name=N'bc', @level1type=N'TABLE',@level1name=N'Prebivalci', @level2type=N'COLUMN',@level2name=N'spol'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'število živih prebivalcev, pri starost 85 pomeni skupaj vseh, ki so 85+' , @level0type=N'SCHEMA',@level0name=N'bc', @level1type=N'TABLE',@level1name=N'Prebivalci', @level2type=N'COLUMN',@level2name=N'stprebivalcev'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tabela vsebuje število prebivalcev Slovenije na dan 1.1.2020 po starosti in spolu' , @level0type=N'SCHEMA',@level0name=N'bc', @level1type=N'TABLE',@level1name=N'Prebivalci'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'guid identity column za transakcije' , @level0type=N'SCHEMA',@level0name=N'bc', @level1type=N'TABLE',@level1name=N'Transaction', @level2type=N'COLUMN',@level2name=N'tranid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'številka bloka, kateremu pripada ta transakcija' , @level0type=N'SCHEMA',@level0name=N'bc', @level1type=N'TABLE',@level1name=N'Transaction', @level2type=N'COLUMN',@level2name=N'BlockNum'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Podpis transakcije' , @level0type=N'SCHEMA',@level0name=N'bc', @level1type=N'TABLE',@level1name=N'Transaction', @level2type=N'COLUMN',@level2name=N'Tx'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Pošiljatelj, Pošiljateljev javni ključ ?' , @level0type=N'SCHEMA',@level0name=N'bc', @level1type=N'TABLE',@level1name=N'Transaction', @level2type=N'COLUMN',@level2name=N'Sender'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Prejemnik, prejemnik je lahko hkrati tudi pošiljatelj' , @level0type=N'SCHEMA',@level0name=N'bc', @level1type=N'TABLE',@level1name=N'Transaction', @level2type=N'COLUMN',@level2name=N'ReceiverAddress'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tip transakcije (naročilo, vračilo, storno, verjetno narediti šifrant)' , @level0type=N'SCHEMA',@level0name=N'bc', @level1type=N'TABLE',@level1name=N'Transaction', @level2type=N'COLUMN',@level2name=N'Type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Vsebina: znesek, tekst, base64 file' , @level0type=N'SCHEMA',@level0name=N'bc', @level1type=N'TABLE',@level1name=N'Transaction', @level2type=N'COLUMN',@level2name=N'Value'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Opis vsebine, mogoče filename, content type' , @level0type=N'SCHEMA',@level0name=N'bc', @level1type=N'TABLE',@level1name=N'Transaction', @level2type=N'COLUMN',@level2name=N'Description'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1 = Verified, podpis v Tx ustreza vsebini polj Sender, ReceiverAddress, Type, Value, Description' , @level0type=N'SCHEMA',@level0name=N'bc', @level1type=N'TABLE',@level1name=N'Transaction', @level2type=N'COLUMN',@level2name=N'Verified'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'guid' , @level0type=N'SCHEMA',@level0name=N'bc', @level1type=N'TABLE',@level1name=N'Umrli', @level2type=N'COLUMN',@level2name=N'guid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'koledadrsko leto' , @level0type=N'SCHEMA',@level0name=N'bc', @level1type=N'TABLE',@level1name=N'Umrli', @level2type=N'COLUMN',@level2name=N'leto'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0 = vsi, 1=M, 2=F' , @level0type=N'SCHEMA',@level0name=N'bc', @level1type=N'TABLE',@level1name=N'Umrli', @level2type=N'COLUMN',@level2name=N'spol'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'starostna skupina npr  55-59 let' , @level0type=N'SCHEMA',@level0name=N'bc', @level1type=N'TABLE',@level1name=N'Umrli', @level2type=N'COLUMN',@level2name=N'grupa'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'število umrlih' , @level0type=N'SCHEMA',@level0name=N'bc', @level1type=N'TABLE',@level1name=N'Umrli', @level2type=N'COLUMN',@level2name=N'stumrlih'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tabela vsebuje število umrlih v Sloveniji po starosti v obdobju 1994-2019' , @level0type=N'SCHEMA',@level0name=N'bc', @level1type=N'TABLE',@level1name=N'Umrli'
GO
